# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Building
autom4te.cache
.deps
config.status
config.log
config.h

# Xcode
*.xcuserdatad

# CLion
.idea

# Packages
ccnx-tutorial*.tar.gz

stamp-h1
*~

# Test Products
*.log
*.trs
*.gcda
*.gcno
