# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Building
autom4te.cache
.deps
config.status
config.log
config.h

# Xcode
*.xcuserdatad

# Packages
ccnx-tutorial*.tar.gz

stamp-h1
*~

# Products
src/tutorial_Client
src/tutorial_Server

# Test Products
src/test/test_tutorial_FileIO
*.log
*.trs
*.gcda
*.gcno
